button#add:hover, #addEdit:hover, #cancelEdit:hover{
  background-color: #323232;
}
button{
  transition: all 0.2s ease;
}
#edit:hover{
  background-color: #006927;
}
button:hover{
  color: #dcdcdc;
}
#delete:hover{
  background-color: #980909;
}
